<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
    <link type="text/css" rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <h1>Поиск на страницах сайта "{{search_url}}"</h1>
    <div class="main_content">
        <form action="" method="post">
            <p>
                <label id="search_label" for="search">Введите слово для поиска:</label>
                <br/>
                <input type="text" name="search">
            </p>
            <p>
<!--                <input type="submit" value="Поиск">-->
                <button id="button" type="submit" tabindex="0">Поиск</button>
            </p>
        </form>
    </div>
    {% if result %}
    <div class="main_content">
        <h3 style="margin: 10px;">Результаты поиска "{{query}}": (всего совпадений: {{count}})</h3>
        {% for url in urls %}
            <div id="match">
                <div><a href={{url.path}} target="_blank">{{url.path}}</a></div>
                <div id="url_body"><p>{{url.body_first}} <span id='word_match'>{{url.word}}</span> {{url.body_last}}</p></div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    {% endif %}
<footer>Разработал: Козяр В. Н.</footer>
</body>
</html>