<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
    <link type="text/css" rel="stylesheet" href="static/css/main.css">
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <h1>Поиск на страницах сайта "<a href={{search_url}} target="_blank">{{search_url}}</a>"</h1>
    <div class="main_content">
        <form action="" method="post">
            <p>
                <input id="main_input" type="text" name="search" autocomplete="off"
                    placeholder="Введите слово для поиска" value={{query}}>
                <button id="button_sub" type="submit" tabindex="0">Поиск</button>
            </p>
        </form>
    </div>
    {% if result %}
    <div class="main_content">
        <h3 style="margin: 10px;">Результаты поиска "{{query}}" (всего совпадений: {{count}}):</h3>
        {% for url in urls %}
            <div id="match">
                <div>
                    {% for link in url.path %}
                        {% if loop.first %}
                            <b><a class='match_link' href={{link[0]}} target="_blank">{{link[1]}}</a></b>
                        {% else %}
                            <a class='match_link' href={{link[0]}} target="_blank">{{link[1]}}</a>
                        {% endif %}
                        {% if not loop.last %}
                        <span class='match_link'>➢</span>
                        {% endif %}
                    {% endfor %}
                </div>
                <div id="url_body">
                    <p>{{url.body_first}} <span id='word_match'>{{url.word}}</span> {{url.body_last}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    {% endif %}
<footer>Разработал: Козяр В. Н.</footer>
</body>
</html>